$fontFamily: "Elza";
$fontSize: 16px; // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #fff; // Колір шрифту за замовчуванням

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S

$responsiveType: 1;

@import "null.scss";
@import "swiper.scss";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

.hero {
  min-height: 100dvh;
  background-blend-mode: screen;
  .img-hero-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  &__top-shape {
    position: absolute;
    top: -10px;
    right: -50px;
    z-index: 9;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 30px 20px 90px;
  position: relative;
  z-index: 11;
  &__right {
    display: flex;
    gap: 80px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 56px;
  }
  &__swiper {
    position: relative;
  }
  &__slide {
  }
}

//========================================================================================================================================================
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px 40px;
  position: relative;
  z-index: 4;
}
.info {
  padding-top: 26px;
  max-width: 767px;
  position: relative;
  z-index: 4;
  &__title {
    font-size: 95px;
    line-height: 119%;
    font-family: "Ironstrike";
    text-transform: uppercase;
    font-weight: 700;
  }
  &__subtitle {
    color: #ffba00;
    line-height: 150%;
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Erbaum";
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0.4px;
  }
  &__desc {
    line-height: 160%;
    font-weight: 500;
    margin-bottom: 30px;
  }
  &__role {
    font-family: "noto-sans";
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 16px;
    span {
      font-weight: 500;
    }
  }
  &__difficulty {
    font-family: "noto-sans";
    font-weight: 700;
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 18px;
    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__art {
    position: absolute;
    top: 5px;
    right: -405px;
    z-index: 3;
    // -webkit-filter: drop-shadow(11px 5px 0px #ffba00);
    // filter: drop-shadow(11px 5px 0px #ffba00);
  }
}

//========================================================================================================================================================

.stats {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin-top: 36px;
    margin-bottom: 14px;
  }
  &__button {
    font-family: "Erbaum";
    font-size: 20px;
    line-height: 120%;
    border: 1px solid #ffffff;
    font-weight: 500;
    padding: 10px 42px;
    transition: border 0.3s;
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid #ffba00;
      }
    }
    &-active {
      background: url("../assets/img/button-bg.svg") 50% 50% / cover no-repeat;
      border: 1px solid #ffba00;
    }
  }
  &__info {
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 34px 60px 30px 24px;
    height: 304px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: #fff rgba(255, 255, 255, 0.27);
    scrollbar-width: thin;
  }
  &__abilities-name {
    font-family: "Erbaum";
    font-weight: 500;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 120%;
  }
  &__abilities-desc {
    line-height: 150%;
    flex-grow: 1;
  }
  &__abilities-icons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 22px;
  }
  &__abilities-icon {
    width: 103px;
    height: 104px;
    opacity: 0.3;
    transition: opacity 0.3s;
    &-active {
      opacity: 1;
    }
    img {
      width: 100px;
      height: 100%;
    }
  }
}
